<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>--TECH BLOG--</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/css/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1>Tech Blog</h1>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" id="about-nav"> About </a>

            <a class="navbar-item" id="wmm-nav"> "Where's My Movie?" </a>

            <a class="navbar-item" id="mood-nav"> "Mood" </a>
          </div>
        </div>
       </nav>
    </header>
    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>


  </body>

</html>