<div class="menu-container">
  <div class="hero is-primary">
    <h2 class="title">
      POSTS
    </h2>
  </div>
  {{#each posts as |post|}}
  <div class="card">
    <div class="card-header">
      <h1>{{post.post_title}}</h1>
    </div>
    <div class="card-content">
      <p>
        {{post.post_content}}
      </p>
    </div>
  </div>
  {{/each}}
 