<div class="container">
    <h2>
      Create Account
    </h2>
    <form class="column is-full add-post-form">
      <label for="post_title">
        Username:
      </label>
      <br />
      <input class="input is-primary" placeholder="Username" id="username">
        {{username}}
      </input>
      <br />
      <label for="post_content">
        Email:
      </label>
      <br />
      <input class="input is-primary" placeholder="Email" id="email">
        {{email}}
      </input>
      <br />
      <label for="post_content">
        Password:
      </label>
      <br />
      <input class="input is-primary" placeholder="Password" id="password">
        {{Password}}
      </input>
      <button class="button is-primary" type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="../public/js/add-post.js"></script>